<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Participaci&oacute;n Ciudadana</title>
		<style type="text/css">
			body{margin:0px;}
			/*unvisited link*/
			a{ text-decoration:none;}
			a:link{ text-decoration:none; color:black;}
			/*visited link*/
			a:visited{ text-decoration:none; color:black;}
			/*mouse hover link*/
			a:hover{ text-decoration:none; color:black;}
			/*selected link*/
			a:active{ text-decoration:none; color:black;}
			ul li{list-style:none;}
		</style>
	</head>
	<body>
		<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" colspan="2">
			<tr>
				<td>
					<img src={{headerImg}} style="display: block; border: none;" width="600" alt="Participaci&oacute;n Ciudadana" usemap="#Map"/>
				</td>
			</tr>
			
			<tr>
				<td valign="middle" style="align:justify; padding:3px 30px;">
				
				     <h1 style="color:rgba(0,0,0,.7); font-family:Arial; font-weight:strong; font-size:28px;">&#161;Bienvenida a Participaci&oacute;n Ciudadana!</h1>
					 
					 <p><strong><span style="align:justify; color:#636261; font-family:Arial; font-size:20px;">&#161;Hola, {{username}}!</span></strong></p> 
					 
					 
					 <p style="font-family: Arial, sans-serif; text-align: left; font-size:13px; color: #636261;">Confirm&aacute; tu cuenta de correo electr&oacute;nico en el siguiente enlace:<br>
                      <a href={{validationUrl}} target="_blank" style="font-family: Arial, sans-serif; text-align: left; font-size:13px; color: #EB186A; text-decoration: underline;"><strong>Confirmar mi cuenta.</strong></a></p>
					
					
					 
				</td>
			</tr>
			
			<tr>
				<td valign="middle" style="align:justify; color:#636261; font-family:Arial; font-size:16px; padding:1px 30px;">
				     
					<p><strong>&#161;Sigamos trabajando juntos para transformar la Ciudad!</strong></p>
					 
				</td>
			</tr>
			
			<tr width="601" height="10">
			    <td >	
				</td>
			</tr> 
			
			<tr>
				<td>
					<img src={{footerImg}} style="display: block; border: none;" width="600" alt="Participaci&oacute;n Ciudadana"/>
				</td>
			</tr>
			<tr style="font-family:Arial; font-size:8px;">        

				<td style="background-color:#fff; padding:0px 30px;">

					<p>Ley de Protecci&oacute;n de datos de la CABA. Ley 1845 T&iacute;tulo IV art.13 inc. B) El titular tiene Derecho de acceso, previa acreditaci&oacute;n de su identidad, a solicitar y obtener informaci&oacute;n relativa a los datos personales referidos a su persona que se encuentren incluidos en los archivos, registros, bases o bancos de datos del sector p&uacute;blico de la Ciudad de Buenos Aires. Inc C) Tiene Derecho de rectificaci&oacute;n, actualizaci&oacute;n o supresi&oacute;n de sus datos.</p>

					<p>Al registrarse el usuario recibir&aacute; correos electr&oacute;nicos sobre noticias de inter&eacute;s y dem&aacute;s novedades relativas al GCBA. No ser&aacute;n v&aacute;lidos para el registro aquellos formularios que se encuentren incompletos. Declaro que todos y cada uno de los datos indicados son verdaderos, exactos, vigentes y aut&eacute;nticos.</p>

					<p>La Defensor&iacute;a del Pueblo de la Ciudad Aut&oacute;noma de Buenos Aires, inviste el car&aacute;cter de organismo de control de la Ley 1845 de la Ciudad Aut&oacute;noma de Buenos Aires. La protecci&oacute;n de la privacidad de los usuarios es sumamente importante para el GCBA, por ello, ante cualquier duda o consulta, ponerse en contacto llamando al 147 (o desde fuera de la Ciudad Aut&oacute;noma de Buenos Aires al 0800-999-2727).</p>

					<p><strong>Informaci&oacute;n de contacto:</strong> Gobierno de la Ciudad Aut&oacute;noma de Buenos Aires Uspallata 3160 - C1437JCL, CABA, Argentina. </p>

					<p>Este correo fue enviado a [email]. Para editar tus preferencias de correo hac&eacute; click <a href="http://[autoprofile]/&amp;idForm=1" style="font-family:Arial,Helvetica,sans-serif;text-decoration:none;" target="_blank">ac&aacute;</a>. Prohibida la reproducci&oacute;n total o parcial. Las im&aacute;genes son ilustrativas. Si no quer&eacute;s recibir este mail hac&eacute; click <a href="http://[unsubscribe]/" style="font-family:Arial,Helvetica,sans-serif;text-decoration:none;" target="_blank">ac&aacute;</a>. No volver&aacute;s a ser contactado. &iexcl;Muchas gracias!</p>

					<p style="text-align:center; color:#6d6e6e; padding-bottom:25px; font-size:9px;">Enviado por la <i>Direcci&oacute;n General de Comunicaci&oacute;n Directa</i> | Gobierno de la Ciudad de Buenos Aires</p>

				</td>

            </tr>
		</table>
		<map name="Map" id="Map">
			<area shape="rect" coords="490,15,505,30" href="https://www.facebook.com/BaParticipacionCiudadana" target="_blank" alt="Facebook"/>
			<area shape="rect" coords="521,15,535,30" href="https://twitter.com/BAPartCiudadana" target="_blank" alt="Twitter"/>
			<area shape="rect" coords="540,15,555,30" href="https://www.instagram.com/baparticipacionciudadana" target="_blank" alt="Instagram"/>
			<area shape="rect" coords="560,15,580,30" href="http://bapc.buenosaires.gob.ar/" target="_blank" alt="Buenos Aires Gob"/>
		</map>
			
	</body>
</html>